*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body
{
    overflow-x: hidden;
    min-height: 100vh;
    background: linear-gradient(#170410,#21001c);
}

body section
{
    min-height: 100vh;
}


header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em 4em ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .LOGO
{
color: #f1f1f1;
font-weight: 700;
text-decoration: none;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li 
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #f1f1f1;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background-color: #f1f1f1;
    color: #170410;
}

.IMG_TROU_NOIR
{
    position: relative;
    padding: 100px;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.IMG_TROU_NOIR:before
{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to #f1f1f1 top, #1c0522, transparant);
    z-index: 10000;
}

.IMG_TROU_NOIR img
{
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

section
{
    z-index: 10;
}

.BANDEAU_IMAGE_TXT
{
    max-width: 100vw;
    max-height: 70vh;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.BANDEAU_TXT_BOX
{
    box-sizing: border-box; max-width: 60vw; max-height: 60vh;
    padding:2em;
    margin: 2em;
    flex: 4;
    display: flex;
    flex-direction: column ;
    flex-grow: 1;
    flex-shrink: 1;
}

.BANDEAU_TXT_BOX h2
{
    font-size: 2em;
    flex: 1;
    max-height: 2em;
    flex-basis: 50vw;
    padding: 2em 0em;
}

.BANDEAU_TXT_BOX p
{
    font-size: 1.5em;
    flex: 25;
    max-height: 60%;
    flex-basis:50vw;
}

.BANDEAU_IMG_BOX
{
    box-sizing: border-box; width: 40vw; height: 60vh;
    margin: 2em;
    flex: 1;
    display: flex;
    justify-content: center;

}

.BANDEAU_IMG_BOX img
{
    max-height: 100%;
}

.navette{
    box-sizing: border-box;
    display: inherit;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 42.5vh;
    left: 42.5vw;
    height: 15vh;
    width: 15vw;
    animation: pesanteur 14s infinite linear;
    
}
#Navette_SPACIALE{
   transform: scaleX(-1.5) scaley(1.5)translatex(-2vw) translatey(-1.3vh) rotate(26deg);
}

.middle_txt{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 3em;
    color: #f1f1f1;
}
.navette img{
    transform: translate(-50%) rotate(45deg);
}


@keyframes pesanteur{
    0%{
        transform:matrix(1,0,0,1,0,0);
    }
    25%{
       transform:matrix(1,0.1,-0.1,1,0,0);
    }
    50%{
        transform:matrix(1,0,0,1,0,0);
    }
    75%{
        transform:matrix(1,-0.1,0.1,1,0,0);
    }
    100%{
        transform:matrix(1,0,0,1,0,0);
    }
}

@keyframes holding{
    0%{
        transform:matrix(1.03,0,0,1.03,0,0);
    }
    25%{
       transform:matrix(1.03,0.2,-0.2,1.03,0,0);
    }
    50%{
        transform:matrix(1.03,0,0,1.03,0,0);
    }
    75%{
        transform:matrix(1.03,-0.2,0.2,1.03,0,0);
    }
    100%{
        transform:matrix(1.03,0,0,1.03,0,0);
    }
}

.spacing
{
    height: 20vh;
    width: 100vw;
    background-color: #ececec;
}

.container{
    flex-direction: row;
    align-items:flex-start;
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    flex-shrink: 1;
    flex-grow: 1;
}

@media screen and (max-width:749px) {
    .container{
        flex-direction: column;
        align-items:center;
        display: flex;
        justify-content: space-evenly;
        margin-top: 10vh;
        flex-shrink: 1;
        flex-grow: 1;
    }   
}


.image{
    width: 100%;
}

.center {
    position: relative;
    align-items: center;
    justify-content: center;
}

.text{
    color: white;
    margin-top: auto;
}

.cellule{
    width: 20%;
    max-width: 25vh;
}

@media screen and (max-width:749px) {
    .cellule{
        width: 80%;
        margin-bottom: 10vh;
    } 
    
}

#investisseur{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#elon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.miniTitreEQUIPE{
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 25vh;
    font-size: 2em;
}


.First_Slide{
    width: 100%;
    height: 100%;
}

.background_produit{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.background_produit img{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -2;
}

.DESCRIPTION_PRODUIT{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.img_du_produit{
    width: 40vw;
    order: 2;
    display: flex;
    justify-content: center;
}

.img_du_produit img{
    height: 60vh;
    position: relative;
    z-index: 1;
}

.img_du_produit img#Gravity{
    opacity: 0.2;
    top: 20vh;
    animation: rotation 3s infinite linear;
    position: absolute;
    z-index: -1;
}
@keyframes rotation {
    0%{
        transform: rotate(0deg);
        opacity: 0.2;
    }
    25%{
        transform: rotate(90deg);
        opacity: 0.25;
    }
    50%{
        transform: rotate(180deg);
        opacity: 0.3;
    }
    75%{
        transform: rotate(270%);
        opacity: 0.25;
    }

    100%{
        transform: rotate(359deg);
        opacity: 0.2;
    }
}

.Description_produit_texte{
    width: 30vw;
    order: 1;
    color: #ececec;
    box-sizing: border-box;
}
.paragraphe1{
    margin-bottom: 2vh;
}

.Description_produit_texte div{
    position:relative;
    align-items: center;
    max-width: 30vw;
    opacity: 1;
}


.Second_Slide{
    background-color: #1A1224;
    height: 100vh;
    width: 100vw;
}

.seconde_slide_img{
    order: 1;
}

.Third_Slide{
    background-color:lightslategrey ;
    height: 100vh;
    width: 100vw;
}

.img_trouNoir_thirdSlide img{
    max-height: 60vh;
    max-width: 60vw;
}


.container_reseaux{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 22vh;
}

#reseaux{
    margin-bottom: 3vh;
}

.liste_reseaux{
    color: white;
}

#sous-titre2{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

#horaires{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
}

#image_contact{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#img_contact{
    width: 90vh;
}

.questions{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

#adresses{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

footer
{
    display: flex;
    height: 15vh;
    background-color: #170410;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

footer div li{
    list-style: none;
    text-decoration: none;
}

footer div li ul{
    padding: 2vh;
}

footer div li ul a{
    text-decoration: none;
    color: #f1f1f1;
}

